{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
  {% for a in articles %}
	<div class="post-wrapper">
	  <div class="post">
	  	<div class="post-heading">
	  	  <h3 class="title">
              <a href="/articles/detail/{{a.id}}">{{a.title}}</a>
	  	  </h3>
	  	  <div class="date">{{a.create_time_stamp|date:"Y /m / d"}}</div>
	  	</div>
	  	<div class="post-content read-more-block">
	  	  {{a.content | custom_markdown}}
	  	</div>
	  	<div class="post-footer">
	  	</div>
	  </div>
	</div>
  {% endfor %}
  {% include "component/paginator.html" %}
{% endblock %}
